.cv19-cyan {
	color: #7912E9;
}

.cv19-purple {
	color: #6E5C86;
}

.hcenter {
	margin: 0 auto; 
}

.btn {
  @apply px-4;
  @apply py-2;
  @apply rounded;
  @apply bg-cv19teal;
  @apply text-white;
  transition: 200ms;
  @apply mt-10;
  float: right;
}

.btn:hover {
	@apply bg-cv19teal-dark;
  @apply shadow-outline;
}

.page {
}

.page-content {
	@apply max-w-md;
	@apply rounded-lg;
	@apply p-4;
	@apply border-solid;
	@apply border-4;
	border-color: #0c687f;
	margin: 0 auto;
}
